.bg-lightest-grey{
    background-color: var(--color-lightest-grey);
}
.bg-lighter-blue{
    background-color: var(--color-lighter-blue);
}
.bg-light-blue{
    background-color: var(--color-light-blue);
}
.bg-blue{
    background-color: var(--color-blue);
}
.bg-dark-blue{
    background-color: var(--color-dark-blue);
}
.bg-darker-blue{
    background-color: var(--color-darker-blue);
}
.bg-grey{
    background-color: var(--color-grey);
}
.bg-green{
    background-color: var(--color-green);
}
.bg-red{
    background-color: var(--color-red);
}
.bg-bright-orange{
    background-color: var(--color-bright-orange);
}
.bg-orange{
    background-color: var(--color-orange);
}
.bg-brown{
    background-color: var(--color-brown);
}