@import './base.css';

#app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: var(--color-blue);
  transition: 0.4s;
}

a.router-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.icon-c-light-blue{
  fill: var(--color-light-blue);
}

.btn {
  padding: 0.6rem 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}


.gradient__green-bg{
  background: linear-gradient(90deg, rgba(0, 189, 126, 1) 0%, rgba(7, 233, 136, 1) 46%, rgba(64, 255, 212, 1) 100%);
}

.gradient__bg{
  background: linear-gradient(225deg, #545556 0%, #323334 100%);
}

.hotel-blue{
  fill: var(--color-blue);
}


/* image blur effect */
/* top to bottom version */
.top-to-bottom-gradient-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Ensure the mask is above the blurred image */
}

.top-to-bottom-gradient-mask::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  backdrop-filter: blur(1px);
  border-radius: 0.5rem;
}

.top-to-bottom-gradient-mask::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}

/* Left to right version */
.left-to-right-gradient-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Ensure the mask is above the blurred image */
}

.left-to-right-gradient-mask::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  mask: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}

.left-to-right-gradient-mask::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 15%, 0.2);
    border-radius: 0.2rem;
  }
}